<style>
	body {
		background-color:black;
		font-family: 'VT323', monospace;
		color: white;
	}
	
	#app {
    	display: flex;
    	justify-content: center;
    	width: 100%;
	}
</style>

<div id="app">
	<div id="image">
		<img src="https://thumbs.gfycat.com/IncomparableFatalEastrussiancoursinghounds-small.gif" />
	</div>
	<div id="title">
		<h1>PING OF DEATH</h1>
		<h4>Insert the IP address of your victim and watch the pwnage happen! ~malc0mix</h4>
	</div>
	<div id="form">
		<form action="/ping-of-death" method="POST">
			<input type="text" name="address" />
			<input type="submit" />
		</form>
	</div>
	<div id="result">
		<pre>{{{result}}}</pre>
	</div>
</div>